/* Container for the summary */
.summary {
  background-color: black;
}
.summary-container {
  display: flex;
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

/* Left section style */
.summary-left {
  flex: 2;
}

/* Right section style */
.summary-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Heading style */
.summary-left p {
  font-size: 34px;
  text-align: left;
}

/* Description and rating container */
.summary-left .description-rating {
  display: flex;
  gap: 20px;
}

/* Description paragraph style */
.summary-left .description {
  font-size: 20px;
  color: rgb(222, 218, 212);
  margin-bottom: 30px;
}

/* Rating style */
.summary-left .rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

/* Star styles */
.star {
  color: gray;
}

.star.filled {
  color: gold;
}

/* Video container style */
.summary-left .video-container {
  margin-top: 15px;
}

.summary-left .video-container iframe {
  width: 100%;
  height: 315px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Price style */
.summary-right .price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

/* Buy button style */
.summary-right .buy-buttons {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.summary-right .buy-buttons:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .summary-container {
    flex-direction: column;
    padding: 15px;
  }

  .summary-right {
    margin-top: 20px;
    align-items: center;
  }

}
