*{
    scroll-behavior: smooth; 
      scroll-snap-type: y mandatory;
      scrollbar-width: none;
      -webkit-scrollbar {
        display: none;
      }
}
body {
  font-family: 'Inter', sans-serif;
}
